html, body {
    height: 100%;
}
#img {
    width: 50%;
    height: 50%;
    border-radius: 2%;
    border-color: #FFFF;
    border-style: solid;
    border-width: 5px

}
body {
    font: 20px "Nunito", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
    font-size: 16px;
}

a {
    color: #454B1B; /* army green */
}

#logo, .project-img {
    max-height: 300px;
}

#fork {
    margin-bottom: 25px;
    filter: invert(1);
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #7caa46;
    color: "black";
}

.bg-2 {
    background-color: #7caa46; /* lime green */
    color: #Bbd086;
}

.card {
    color: #454B1B;
    text-align: left;
}

.card-title {
    font-weight: 700;
}

.bg-3 {
    background-color: #454B1B; /* armygreen */
    color: #Bbd086;  /* pistachio */
}

.bg-4 {
    background-color: #000; /* army green */
    color: #0D2818;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #AAFF00 !important;
}
.avatar {
    border-radius: 20%;
    border-color: #FFFF;
    border-style: solid;
    border-width: 5px;
}
.fork #fork{
    height: 1px  !important;
    width: 1px  !important;
}
